#top {
    position:relative;
    text-align:center;
    background:#abcdef;
    overflow:auto;
    padding-bottom: 10px;
}

#bot{
    background: #FFCCCC;
    height:auto;
    min-height:400px;
}

#bot table {
    font-family:cursive;
    text-align:center;
}

#tEdit {
    color:purple;
}
#sEdit {
    color:green;
}
#plEdit {
    color:orange;
}
#pnEdit {
    color:red;
}
#nEdit {
    color:blue;
}
